body{
    margin: 0;
    background: #141423;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    color: whitesmoke;
    position: absolute;
    top: 0;
    text-align: center;
}
.bands_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.band_item{
    width: 10px;
    margin: 2px;
    border-radius: 30px;
    background: #71FF02;
}
.btn{
    width: 100px;
    height: 100px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    font-size: 24px;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    transform: scale(1.1);
}
.start{
    background: #63cc0e;
}
.stop{
    background: red;
    position: absolute;
    bottom: 100px;
}
.invisible{
    display: none;
}